#pane{
    -fx-background-image: url("../../resources/woodTexture.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#NewGameButton{
	-fx-border: 10px solid;
	-fx-border-radius: 43px;
	-fx-border-width: 5;
	-fx-border-color:white;
	-fx-border-style: dashed;
	-fx-text-fill:#FFFF66;
	-fx-background-color: transparent;
	-fx-background-repeat: stretch;  
    -fx-background-size: 100% 100%;
}

#ChainGameImage{
	-fx-text-fill:white;
	-fx-background-color: transparent;
	 -fx-background-repeat: stretch;  
    -fx-background-size: 100% 100%;
}

#HelpButton{
	-fx-border: 10px solid;
	-fx-border-radius: 38px;
	-fx-border-width: 4;
	-fx-border-color:white;
	-fx-border-style: dashed;
	-fx-text-fill:#FFFF66;
	-fx-background-color: transparent;
	-fx-background-repeat: stretch;  
    -fx-background-size: 100% 100%;
}

